.ProfileInfo{
	display: grid;
	padding: 18px 20px;
}

.ProfileInfo-content{
	display: grid;
	padding-top: 10px;
	gap: 20px;
}

.ProfileInfo-point{
	padding: 0;
	margin: 0;
	font-size: 18px;
}

.ProfileInfo-point span{
	font-weight: bold;
	margin-left: 5px;
}
