
.Controls {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0;
}

.Controls-value {
  font-weight: bold;
}

.Controls-value{
  padding: 0 12px 0 14px;
}

.Controls-action{
  display: flex;
  justify-content: flex-end;
  padding: 0 20px 0 10px;
}

.Controls-action button{
  min-width: 80px;
}
